Network/network_output/first_test_old/model_history.npy
Network/network_output/first_test_old/my_first_model.keras
Network/network_output/first_test_old/testplot.png
Network/network_output/old_run1/first_output.txt
Network/network_output/old_run1/run0_history.npy
Network/network_output/old_run1/run0_model.keras
Network/network_output/run_10/eval_10.csv
Network/network_output/run_10/history_10.npy
Network/network_output/run_10/loss.png
Network/network_output/run_10/model_10.keras
Network/network_output/run_10/run_10.txt
Network/network_output/run_9/eval_9.csv
Network/network_output/run_9/history_9.npy
Network/network_output/run_9/loss.png
Network/network_output/run_9/model_9.keras
Network/network_output/run_9/run_9.txt
Network/network_output/run_11/eval_11.csv
Network/network_output/run_11/history_11.npy
Network/network_output/run_11/loss.png
Network/network_output/run_11/model_11.keras
Network/network_output/run_11/run_11.txt
Network/network_output/run_2/eval_2.csv
Network/network_output/run_2/history_2.npy
Network/network_output/run_2/loss.png
Network/network_output/run_2/model_2.keras
Network/network_output/run_2/run_2.txt
Network/network_output/run_3/eval_3.csv
Network/network_output/run_3/history_3.npy
Network/network_output/run_3/loss.png
Network/network_output/run_3/model_3.keras
Network/network_output/run_3/run_3.txt
Network/network_output/run_4/eval_4.csv
Network/network_output/run_4/history_4.npy
Network/network_output/run_4/loss.png
Network/network_output/run_4/model_4.keras
Network/network_output/run_4/run_4.txt
Network/network_output/run_5/eval_5.csv
Network/network_output/run_5/history_5.npy
Network/network_output/run_5/loss.png
Network/network_output/run_5/model_5.keras
Network/network_output/run_5/run_5.txt
Network/network_output/run_6/eval_6.csv
Network/network_output/run_6/history_6.npy
Network/network_output/run_6/loss.png
Network/network_output/run_6/model_6.keras
Network/network_output/run_6/run_6.txt
Network/network_output/run_7/eval_7.csv
Network/network_output/run_7/history_7.npy
Network/network_output/run_7/loss.png
Network/network_output/run_7/model_7.keras
Network/network_output/run_7/run_7.txt
Network/network_output/run_8/eval_8.csv
Network/network_output/run_8/history_8.npy
Network/network_output/run_8/loss.png
Network/network_output/run_8/model_8.keras
Network/network_output/run_8/run_8.txt
Network/network_output/run_11/0eval_11.csv
Network/network_output/run_11/deltas.txt
Network/network_output/run_11/predict.txt
Network/network_output/run_12/run_12.txt
